@import "tailwindcss";

@layer utilities {
  .font-prompt {
    font-family: var(--font-prompt), sans-serif;
  }
  
  .font-sarabun {
    font-family: var(--font-sarabun), sans-serif;
  }
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c5a059;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a38143;
}
